# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
db.sqlite3

# Env
.env
*.env
env/
venv/
myenv/
ENV/
*.venv
pip-log.txt

# VSCode
.vscode/

# Django Static & Media
/media/
staticfiles/
static/

# macOS
.DS_Store

# PyCharm
.idea/

# System files
Thumbs.db


# SQLite database
*.sqlite3
db.sqlite3
